@import 'base/base-index';

html,
body {
  background-color: #F7F7F7;
  background-image: url('../../img/bg-pattern.svg');
  background-size: 100px;
  background-repeat: repeat;

  font-family: 'Segoe UI';
  color: $gray1;
  font-size: $size + px;

  .hidden { display: none; }

  .icon {
    fill: $gray2;
    height: $s15px;
  }
  
  header {
    background-color: $teal;
    background-image: url('../../img/grid.svg');
    text-align: center;
    position: relative;

    #logo {
      padding: $s15px $s20px;

      .icon-logo {
        fill: $blue;
        margin-right: $s20px;
        vertical-align: middle;
        height: $s25px;
      }

      h1 {
        display: inline;
        vertical-align: middle;
      }

    }

    #header-right {
      position: absolute;
      top: $s15px;
      right: $s20px;
      text-align: right;

      .icon-color {
        fill: $white;
        height: $s25px;
        width: $s25px;
        padding: $s3px;
        border-radius: 50%;
      
        &:hover, &:focus {
          transition: $base-transition;
          background-color: rgba(255,255,255,0.5);
          fill: $blue;
        }
      
      }
      
      >li { display: inline; }

      #palette-menu {
        top: $s5px;
        position: relative;
        background-color: $white;
        padding: $s15px;
        text-align: left;
        border-radius: $s3px;
        box-shadow: 0 0 $s3px rgba(0,0,0,0.25);

        .colors {
          border-bottom: $s2px solid $gray3;
          padding-bottom: $s15px;
          margin-bottom: $s15px;
        }
        
        .colors li {
          height: $s25px;
          width: $s25px;
          display: inline-block;
          border-radius: 50%;
          border: $s2px solid $transparent-white;
          cursor: pointer;

          &:hover, &:focus {
            transition: $base-transition;
            border: $s2px solid rgba(0,0,0,0.1);
          }

          &.active {
            background-image: url('../../img/icon/check-white.svg');
            background-position: center;
            background-size: $s20px;
            background-repeat: no-repeat;
          }
          
        }

        .colors li:not(:last-child) { margin-right: $s5px; }
        
        .options {

          ul li {
            padding: $s5px;
            background-color: $transparent-white;
            border-radius: $s3px;
            cursor: pointer;

            &:hover, &:focus {
              transition: $base-transition;
              background-color: $gray4;
            }

            >* { vertical-align: middle; }

           .icon { margin-right: $s7px; }

          }
        
        }

      }

    }

    nav {
      text-align: left;
      font-family: 'Segoe UI Semibold';
      color: $white;

      li {
        display: inline-block;
        padding: $s20px;
        cursor: pointer;

        &:hover, &:focus { border-bottom: $s4px solid $white; }

        &.active {
          color: $blue;
          border-bottom: $s4px solid $blue;
        }

      }

    }

  }

}
